html {
    cursor: none;
}
body {
    height: 100vh;
    width: 100vw;
    background-image: url("./images/paper.webp");
    background-repeat: repeat;
    background-size: cover;
<<<<<<< HEAD
    cursor: url('./images/cursor.png'), url('./images/cursor.svg'), url('./images/cursor.cur'), auto;
=======
    cursor: url('./images/cursor.png'), url('./images/cursor.svg'), default
>>>>>>> d913717b12f68b7ea3f650d69a73b4e29c51c589
}